<%- layout('../partials/layout') %>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="app">
  <% include ../partials/header %>

  <% include ../partials/drawer %>
  <main class="mdl-layout__content" id="check-order-page">
    <div class="page-content" id="check-order"><!-- Your content goes here -->
      <div class="demo-card-wide mdl-card mdl-shadow--2dp file-dialog upload-dialog">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= __("check-payment") %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <%= __("check-your-order-here") %>
        </div>
        <form action="javascript:void(0)">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="orderName" v-model="name">
            <label class="mdl-textfield__label" for="sample3"><%= __("name") %></label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="referenceNo" v-model="referenceNo">
            <label class="mdl-textfield__label" for="sample3"><%= __("reference-no") %></label>
          </div>
        </form>
      </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on:click="submitOrder()">
      <%= __("search") %>
    </button>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="white-space: initial;width:100%" v-if="responseSuccess">
      <thead>
        <tr>
          <th><%= __("name") %></th>
          <th><%= __("phone") %></th>
          <th><%= __("currency") %></th>
          <th><%= __("price") %></th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="!!result">
          <td>{{result.name}}</td>
          <td>{{result.phone}}</td>
          <td>{{result.currency}}</td>
          <td>{{result.price}}</td>
        </tr>
      </tbody>
    </table>


    <div id="load-complete" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <dialog class="mdl-dialog" id="modal-example">
      <h4 class="mdl-dialog__title"><%= __("message") %></h4>
      <div class="mdl-dialog__content">
        <p>
          {{dialogMsg}}
        </p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" v-on:click="closeModal()"><%= __("close") %></button>
        <button type="button" class="mdl-button close">Disagree</button>
      </div>
    </dialog>
  </main>


</div>
<script type="text/javascript" src="/js/check.js"></script>
